@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

.wrapper {
  background-color: #181818;
  overflow: hidden;
}

/* WELCOME SECTION */

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 30px;
  position: relative;
}

.welcome-left {
  height: 100vh;
  width: 50vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.welcome-left h2 {
  max-width: fit-content;
  color: #f2f2f2;
  font-size: 3.2vw;
  margin-bottom: 50px;
  overflow: hidden;
  border-right: 0.15em solid #e65634;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.15em;
  position: absolute;
  top: 35%;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.h3-cont {
  color: #bebebe;
  display: flex;
  flex-direction: column;
  font-family: 'Source Serif Pro', serif;
}

.h3-1 {
  font-size: 2.2vw;
  margin-bottom: 20px;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  position: absolute;
  top: 45%;
  animation: typing2 3.5s steps(40, end);
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.h3-2 {
  font-size: 1.9vw;
  margin-bottom: 20px;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  position: absolute;
  top: 52%;
  animation: typing3 3.5s steps(40, end);
  animation-delay: 5.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing2 {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes typing3 {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e65634;
  }
}

.welcome-right {
  height: 100vh;
  width: 50vw;
  padding-right: 20px;
}

.sections {
  float: right;
  height: 40%;
  width: 60%;
}

.sections span {
  color: #bebebe;
}

.sections ul {
  float: right;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 7.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.sections li {
  font-family: 'Ubuntu', sans-serif;
  color: #f2f2f2ec;
  list-style: none;
  font-size: 1.9vw;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
}

.sections li::after {
  content: ' ';
  height: 2.5px;
  width: 80px;
  background: #e65634;
  position: absolute;
  bottom: -4px;
  right: 10%;
  transition: 0.5s;
}

.sections li:hover:after {
  width: 180px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SECTION NUMS */

.num-name {
  position: absolute;
  top: -7%;
  left: 0%;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  justify-content: center;
  align-items: center;
  color: #bebebe;
  opacity: 0.12;
}

.section-num {
  font-size: 20vw;
}

.num-name h2 {
  font-size: 4.7vw;
  margin-top: -70px;
}

/* ABOUT SECTION */

.about-cont {
  color: #bebebe;
  padding: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2.2vw;
}

.p-wrapper {
  width: 80%;
}

.ap {
  margin-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.ap span {
  text-decoration: underline;
  text-decoration-color: #e65634;
}
