@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
.wrapper {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.welcome-section {
  height: 100vh;
  width: 100vw;
}

.welcome-left {
  height: 100vh;
  width: 50vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  position: relative;
}

.welcome-left h2 {
  max-width: fit-content;
  color: #f2f2f2;
  font-size: 3.2vw;
  margin-bottom: 50px;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  position: absolute;
  top: 33%;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.h3-cont {
  color: #bebebe;
  display: flex;
  flex-direction: column;
}

.h3-1 {
  font-size: 1.9vw;
  margin-bottom: 20px;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  position: absolute;
  top: 43%;
  animation: typing2 3.5s steps(40, end);
  animation-delay: 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.h3-2 {
  font-size: 1.9vw;
  margin-bottom: 20px;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  position: absolute;
  top: 50%;
  animation: typing3 3.5s steps(40, end);
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing2 {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes typing3 {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
